<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<%- include ../partials/_navbar.ejs %>
<h1>Edit User</h1>
<form action="/users/<%=user._id%>?_method="PUT">

	<p>Username:</p> <input type="text" name="username" value="<%=user.username%>">
	<p>Profile Picture:</p> <input type="text" name="profileImg" value="<%=user.profileImg%>">
	<p>About Me:</p> <input type="text" name="aboutMe" value="<%=user.aboutMe%>"><br>
	<input type="submit" name="" value="Submit Changes">
</form>














</body>
</html>