<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h1>Profile Page</h1>
<%- include ../partials/_navbar.ejs %><br>

Username: <%=user.username%><br>

<img src="<%=user.profileImg%>"><br>
About Me: <%=user.aboutMe%>

	<img src="<%=user.profileImg%>"><br>
	About Me: <%=user.aboutMe%>

	   	<%posts.forEach(function(posts){%>
    		<a href="/posts/<%=posts._id%>"> <%=posts.title %> </a>
		<%})%>



<form action="/users/<%=user._id%>/edit?_method=Put">
<button>Edit</button>
</form>
<form action="/users/<%=user._id%>?_method=DELETE" method="POST">
<button>Delete</button>
</form>
 <h1> New Post Page</h1>
     <form action="/users" method="POST">
            Tile: <input type="text" name="title" /><br/>
            Post: <input type="text" name="postBody" /><br/>
     <input type="submit" class="btn" value="Post"/>
</form> 





</body>
</html>